<div class="container">
            <div class="row">
                <div class="col">
                    <p class="text-white mt-5 mb-5">Xin chào, <b>Admin</b></p>
                </div>
            </div>
            <!-- row -->
            <div class="row tm-content-row">
                <div class="col-sm-12 col-md-12 col-lg-6 col-xl-6 tm-block-col">
                    <div class="tm-bg-primary-dark tm-block">
                        <h2 class="tm-block-title">Lượt truy cập mới</h2>
                        <canvas id="lineChart"></canvas>
                    </div>
                </div>
                <div class="col-sm-12 col-md-12 col-lg-6 col-xl-6 tm-block-col">
                    <div class="tm-bg-primary-dark tm-block">
                        <h2 class="tm-block-title">Sản phẩm</h2>
                        <canvas id="barChart"></canvas>
                    </div>
                </div>
                <div class="col-sm-12 col-md-12 col-lg-6 col-xl-6 tm-block-col">
                    <div class="tm-bg-primary-dark tm-block tm-block-taller">
                        <h2 class="tm-block-title">Thông tin lưu trữ</h2>
                        <div id="pieChartContainer">
                            <canvas id="pieChart" class="chartjs-render-monitor" width="200" height="200"></canvas>
                        </div>                        
                    </div>
                </div>
                <div class="col-sm-12 col-md-12 col-lg-6 col-xl-6 tm-block-col">
                    <div class="tm-bg-primary-dark tm-block tm-block-taller tm-block-overflow">
                        <h2 class="tm-block-title">Thông báo</h2>
                        <div class="tm-notification-items">
                            <div class="media tm-notification-item">
                                <div class="tm-gray-circle"><img src="img/notification-01.jpg" alt="Avatar Image" class="rounded-circle"></div>
                                <div class="media-body">
                                    <p class="mb-2"><b>Thọ</b> và <b>6 người khác</b> gửi cho bạn <a href="#"
                                            class="tm-notification-link">đơn hàng mới</a></p>
                                    <span class="tm-small tm-text-color-secondary">6h trước.</span>
                                </div>
                            </div>
                            <div class="media tm-notification-item">
                                <div class="tm-gray-circle"><img src="img/notification-02.jpg" alt="Avatar Image" class="rounded-circle"></div>
                                <div class="media-body">
                                    <p class="mb-2"><b>Vi</b> và <b>6 người khác</b> gửi cho bạn <a href="#"
                                            class="tm-notification-link">Phản hồi sản phẩm</a>. Kiểm tra nó.</p>
                                    <span class="tm-small tm-text-color-secondary">6h trước.</span>
                                </div>
                            </div>
                            <div class="media tm-notification-item">
                                <div class="tm-gray-circle"><img src="img/notification-03.jpg" alt="Avatar Image" class="rounded-circle"></div>
                                <div class="media-body">
                                    <p class="mb-2"><b>Thắng</b> và <b>6 người khác</b> gửi cho bạn <a href="#"
                                            class="tm-notification-link">yêu cầu hủy đơn hàng</a>. Kiểm tra lý do.</p>
                                    <span class="tm-small tm-text-color-secondary">6h trước.</span>
                                </div>
                            </div>
                            <div class="media tm-notification-item">
                                <div class="tm-gray-circle"><img src="img/notification-01.jpg" alt="Avatar Image" class="rounded-circle"></div>
                                <div class="media-body">
                                    <p class="mb-2"><b>Thọ</b> và <b>6 người khác</b> gửi cho bạn <a href="#"
                                            class="tm-notification-link">đơn hàng mới</a></p>
                                    <span class="tm-small tm-text-color-secondary">6h trước.</span>
                                </div>
                            </div>
                            <div class="media tm-notification-item">
                                <div class="tm-gray-circle"><img src="img/notification-02.jpg" alt="Avatar Image" class="rounded-circle"></div>
                                <div class="media-body">
                                    <p class="mb-2"><b>Vi</b> và <b>6 người khác</b> gửi cho bạn <a href="#"
                                            class="tm-notification-link">Phản hồi sản phẩm</a>. Kiểm tra nó.</p>
                                    <span class="tm-small tm-text-color-secondary">6h trước.</span>
                                </div>
                            </div>
                            <div class="media tm-notification-item">
                                <div class="tm-gray-circle"><img src="img/notification-03.jpg" alt="Avatar Image" class="rounded-circle"></div>
                                <div class="media-body">
                                    <p class="mb-2"><b>Thắng</b> và <b>6 người khác</b> gửi cho bạn <a href="#"
                                            class="tm-notification-link">yêu cầu hủy đơn hàng</a>. Kiểm tra lý do.</p>
                                    <span class="tm-small tm-text-color-secondary">6h trước.</span>
                                </div>
                            </div>
                            <div class="media tm-notification-item">
                                <div class="tm-gray-circle"><img src="img/notification-01.jpg" alt="Avatar Image" class="rounded-circle"></div>
                                <div class="media-body">
                                    <p class="mb-2"><b>Thọ</b> và <b>6 người khác</b> gửi cho bạn <a href="#"
                                            class="tm-notification-link">đơn hàng mới</a></p>
                                    <span class="tm-small tm-text-color-secondary">6h trước.</span>
                                </div>
                            </div>
                            <div class="media tm-notification-item">
                                <div class="tm-gray-circle"><img src="img/notification-02.jpg" alt="Avatar Image" class="rounded-circle"></div>
                                <div class="media-body">
                                    <p class="mb-2"><b>Vi</b> và <b>6 người khác</b> gửi cho bạn <a href="#"
                                            class="tm-notification-link">Phản hồi sản phẩm</a>. Kiểm tra nó.</p>
                                    <span class="tm-small tm-text-color-secondary">6h trước.</span>
                                </div>
                            </div>
                            <div class="media tm-notification-item">
                                <div class="tm-gray-circle"><img src="img/notification-03.jpg" alt="Avatar Image" class="rounded-circle"></div>
                                <div class="media-body">
                                    <p class="mb-2"><b>Thắng</b> và <b>6 người khác</b> gửi cho bạn <a href="#"
                                            class="tm-notification-link">yêu cầu hủy đơn hàng</a>. Kiểm tra lý do.</p>
                                    <span class="tm-small tm-text-color-secondary">6h trước.</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 tm-block-col">
                    <div class="tm-bg-primary-dark tm-block tm-block-taller tm-block-scroll">
                        <h2 class="tm-block-title">Danh sách đơn hàng</h2>
                        <table class="table">
                            <thead>
                                <tr>
                                    <th scope="col">Mã đơn hàng</th>
                                    <th scope="col">Tình trạng</th>
                                    <th scope="col">Người nhận</th>
                                    <th scope="col">Địa chỉ</th>
                                    <th scope="col">Khoản cách</th>
                                    <th scope="col">Ngày đặt</th>
                                    <th scope="col">Ngày cập nhật trạng thái</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th scope="row"><b>#122349</b></th>
                                    <td>
                                        <div class="tm-status-circle moving">
                                        </div>Đã giao
                                    </td>
                                    <td><b>Quang Thọ</b></td>
                                    <td><b>Bình Định, Việt Nam</b></td>
                                    <td><b>48 km</b></td>
                                    <td>16:00, 12 10 2021</td>
                                    <td>08:00, 18 10 2021</td>
                                </tr>
                                <tr>
                                    <th scope="row"><b>#122348</b></th>
                                    <td>
                                        <div class="tm-status-circle pending">
                                        </div>Đang giao
                                    </td>
                                    <td><b>Thị Vi</b></td>
                                    <td><b>Quảng Nam, Việt Nam</b></td>
                                    <td><b>36 km</b></td>
                                    <td>11:00, 10 11 2021</td>
                                    <td>04:00, 14 11 2021</td>
                                </tr>
                                <tr>
                                    <th scope="row"><b>#122347</b></th>
                                    <td>
                                        <div class="tm-status-circle cancelled">
                                        </div>Đã hủy
                                    </td>
                                    <td><b>Đức Thắng</b></td>
                                    <td><b>Gia Lai, Việt Nam</b></td>
                                    <td><b>340 km</b></td>
                                    <td>12:00, 22 09 2021</td>
                                    <td>06:00, 28 09 2021</td>
                                </tr>
                               <tr>
                                    <th scope="row"><b>#122349</b></th>
                                    <td>
                                        <div class="tm-status-circle moving">
                                        </div>Đã giao
                                    </td>
                                    <td><b>Quang Thọ</b></td>
                                    <td><b>Bình Định, Việt Nam</b></td>
                                    <td><b>48 km</b></td>
                                    <td>16:00, 12 10 2021</td>
                                    <td>08:00, 18 10 2021</td>
                                </tr>
                                <tr>
                                    <th scope="row"><b>#122348</b></th>
                                    <td>
                                        <div class="tm-status-circle pending">
                                        </div>Đang giao
                                    </td>
                                    <td><b>Thị Vi</b></td>
                                    <td><b>Quảng Nam, Việt Nam</b></td>
                                    <td><b>36 km</b></td>
                                    <td>11:00, 10 11 2021</td>
                                    <td>04:00, 14 11 2021</td>
                                </tr>
                                <tr>
                                    <th scope="row"><b>#122347</b></th>
                                    <td>
                                        <div class="tm-status-circle cancelled">
                                        </div>Đã hủy
                                    </td>
                                    <td><b>Đức Thắng</b></td>
                                    <td><b>Gia Lai, Việt Nam</b></td>
                                    <td><b>340 km</b></td>
                                    <td>12:00, 22 09 2021</td>
                                    <td>06:00, 28 09 2021</td>
                                </tr>
                                <tr>
                                    <th scope="row"><b>#122349</b></th>
                                    <td>
                                        <div class="tm-status-circle moving">
                                        </div>Đã giao
                                    </td>
                                    <td><b>Quang Thọ</b></td>
                                    <td><b>Bình Định, Việt Nam</b></td>
                                    <td><b>48 km</b></td>
                                    <td>16:00, 12 10 2021</td>
                                    <td>08:00, 18 10 2021</td>
                                </tr>
                                <tr>
                                    <th scope="row"><b>#122348</b></th>
                                    <td>
                                        <div class="tm-status-circle pending">
                                        </div>Đang giao
                                    </td>
                                    <td><b>Thị Vi</b></td>
                                    <td><b>Quảng Nam, Việt Nam</b></td>
                                    <td><b>36 km</b></td>
                                    <td>11:00, 10 11 2021</td>
                                    <td>04:00, 14 11 2021</td>
                                </tr>
                                <tr>
                                    <th scope="row"><b>#122347</b></th>
                                    <td>
                                        <div class="tm-status-circle cancelled">
                                        </div>Đã hủy
                                    </td>
                                    <td><b>Đức Thắng</b></td>
                                    <td><b>Gia Lai, Việt Nam</b></td>
                                    <td><b>340 km</b></td>
                                    <td>12:00, 22 09 2021</td>
                                    <td>06:00, 28 09 2021</td>
                                </tr>
                                <tr>
                                    <th scope="row"><b>#122349</b></th>
                                    <td>
                                        <div class="tm-status-circle moving">
                                        </div>Đã giao
                                    </td>
                                    <td><b>Quang Thọ</b></td>
                                    <td><b>Bình Định, Việt Nam</b></td>
                                    <td><b>48 km</b></td>
                                    <td>16:00, 12 10 2021</td>
                                    <td>08:00, 18 10 2021</td>
                                </tr>
                                <tr>
                                    <th scope="row"><b>#122348</b></th>
                                    <td>
                                        <div class="tm-status-circle pending">
                                        </div>Đang giao
                                    </td>
                                    <td><b>Thị Vi</b></td>
                                    <td><b>Quảng Nam, Việt Nam</b></td>
                                    <td><b>36 km</b></td>
                                    <td>11:00, 10 11 2021</td>
                                    <td>04:00, 14 11 2021</td>
                                </tr>
                                <tr>
                                    <th scope="row"><b>#122347</b></th>
                                    <td>
                                        <div class="tm-status-circle cancelled">
                                        </div>Đã hủy
                                    </td>
                                    <td><b>Đức Thắng</b></td>
                                    <td><b>Gia Lai, Việt Nam</b></td>
                                    <td><b>340 km</b></td>
                                    <td>12:00, 22 09 2021</td>
                                    <td>06:00, 28 09 2021</td>
                                </tr>v
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>